// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.
.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}

.warn {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #FFF8F7;
  border-color: #CF4360 !important;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 50px;
  position: relative;
  display:block;
  word-wrap:break-word;
}

.warn:before {
  content: "\f06a";
  /* this is your text. You can also use UTF-8 character codes as I do here */
  font-family: FontAwesome;
  color: #CF4360;
  padding: 1rem;
  left: -5px;
  position: absolute;
  top: 0;
}