<h1><span data-i18n="skills.my_skills">About</span></h1>

<!--<img src="/img/eugene_de_beste_small.jpg" alt="" class="avatar" style="float: left; display: block; width: 25%; padding-right: 1em;">
-->
<div>
    <p>
        Hi there! I'm Eugene.
        <br/><br/>
        I'm a South African and currently work as the systems/cloud/atuomation engineer over at
        the <a href="https://sanbi.ac.za" target="_blank">South African National Bioinformatics Institute</a>, 
        or SANBI for short.
        <br/><br/>
        As a brief summary of my education: I studied undergraduate Computer Science at the University of 
        the Western Cape and achieved First Honours (Cum Laude) for that. I did my 4th year (Honours for South Africa 
        and possibly some other regions) at University of Cape Town, where I also achieved First Honours again, 
        also for Computer Science. For my Masters, I decided to try my hand at Bioinformatics. My thesis was on 
        "<i><b><a href="https://etd.uwc.ac.za/xmlui/bitstream/handle/11394/6767/beste_msc_nsc_2019.pdf?sequence=1&isAllowed=y" target="_blank">
            Enabling the processing of bioinformatics workflows where data is located through the use of cloud and container technologies</a></b></i>"
        and I managed to achieve First Honours for this as well.
        <br/><br/>
        Since this, my main focus has been on infrastructure, whether that be cloud or HPC. Everything around that, 
        especially automation, is a keen interest of mine.
    </p>
</div>